.homepage-card,
.first-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-card {
  font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.card {
  width: 100%;
  min-height: 154px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
  position: relative;
  overflow: hidden;
}

.first-info {
  flex-direction: row;
  z-index: 2;
  position: relative;
  margin-top: 17px;
}

.first-info img {
  border-radius: 50%;
  width: 79px;
  height: 79px;
}

.first-info .profile-info {
  padding: 0px 40px;
}

.first-info .profile-info p.bio {
  margin-top: -20px;
  margin-bottom: 20px;
}

.fw-bold .mb-4 {
  margin-top: 20px;
}
