.label {
  color: var(--white);
  font-weight: bold;
}

.img-service {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.img-service:hover {
  opacity: 0.7;
}

.text {
  position: absolute;
  top: 36%;
}

.icon {
  width: 100%;
}

.text a {
  color: white;
}

.text a:hover {
  color: red;
}
